<div class="address-list-container">
  <h2>My Addresses</h2>
  <button (click)="onAdd()">Add New Address</button>

  <div *ngIf="showForm">
    <app-address-form [address]="selectedAddress" (save)="onSave($event)"></app-address-form>
  </div>

  <div *ngIf="!showForm">
    <div *ngFor="let address of addresses" class="address-item">
      <p><strong>{{ address.fullName }}</strong></p>
      <p>{{ address.phoneNumber }}</p>
      <p>{{ address.streetAddress }}, {{ address.barangay }}, {{ address.city }}, {{ address.region }} {{ address.postalCode }}</p>
      <p *ngIf="address.isDefault" class="default-badge">Default</p>
      <button (click)="onEdit(address)">Edit</button>
      <button (click)="onDelete(address._id!)">Delete</button>
    </div>
  </div>
</div>